/* Fonts Styles */
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* -------- Spacing sizes -------- */
:root {
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --space-xl: 8rem;
}

/* ----------  Font styles  -----------*/
:root {
  --body-font: "Forum", serif;
  --heading-font: "Hammersmith One", sans-serif;
  --small-number-font: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(20, 20, 20);
}

.navbar {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md);
}

.logo {
  width: 80px;
  height: 80px;
  background-color: red;
  border-radius: 50%;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li a {
  padding: var(--space-lg);
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 1.9rem;
  position: relative;
  text-decoration: none;
  color: white;
}

.btn1 {
  background-color: rgb(249, 249, 249);
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  border: none;
  padding: var(--space-sm);
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: 600;
  font-family: var(--body-font);
  transition: transform 0.3s ease-in;
}

.btn1:hover {
  transform: scale(1.05);
}

.hero-section {
  width: 100%;
  height: 60vh;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-heading {
  display: flex;
  justify-content: right;
  flex-direction: column;
  gap: var(--space-lg);
}

.right-heading p {
  font-size: 1.7rem;
  font-family: var(--heading-font);
  font-weight: 500;
  text-align: right;
}

.hero-heading {
  display: flex;
  justify-content: center;
}

.hero-heading h1 {
  font-size: clamp(3rem, 4vw, 8rem);
  font-family: var(--heading-font);
  font-weight: 500;
}

.video-box {
  width: 300px;
  height: 200px;
  background-color: rgb(48, 48, 48);
  margin: 8rem 0 2rem 0rem;
  position: absolute;
  bottom: 0;
}

.play-button {
  position: absolute;
  bottom: 0;
  width: 80px;
  height: 80px;
  background-color: rgb(74, 74, 74);
  border-radius: 0.6rem;
  margin: var(--space-xs);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-button i {
  font-size: 4rem;
}


/* =============  About Section  ==============*/
.about {
  width: 100%;
  height: 100%;
  background-color: rgb(1, 1, 1);
}

.heading {
  width: 100%;
}

.page-two-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 2rem 0rem 2rem;
  margin: 0 auto;
  max-width: 1800px;
}

.page-two-heading h2 {
  font-size: 4rem;
  font-family: var(--heading-font);
  font-weight: 100;
  color: rgb(69, 69, 69);
}

.page-two-heading span {
  color: white;
}

.company-logo {
  width: 100%;
}

.brand-logo {
  padding: 11rem 0 6rem 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  max-width: 1800px;
  margin: 0 auto;
}

.logos {
  max-width: 1600px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  gap: var(--space-xl);
}

.logos li img {
  height: 140px;
}

.about-section {
  width: 100%;
  position: relative;
}

.horizontal-line .page-no {
  width: 0%;
  position: absolute;
  top: -40px;
  font-size: 1.6rem;
  font-family: var(--small-number-font);
  color: rgba(255, 255, 255, 0.362);
}

.horizontal-line {
  padding: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgba(254, 253, 253, 0.253);
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}

.about-heading-area p {
  font-size: 3rem;
  font-family: var(--heading-font);
  text-align: right;

}

.about-heading-area p {
  color: rgb(69, 69, 69);
}

.white-text1{
  color: white;
}

.about-right-text {
  padding-left: 20rem;
}

.about-left-text {
  padding-right: 10rem;
}

.about-section h3 {
  font-size: 2rem;
  font-family: var(--body-font);
  margin-top: var(--space-lg);
  cursor: pointer;
  padding: 8rem 2rem 8rem 2rem;
}

/* =============  Service Section  ==============*/
.horizontal-line h4 {
  font-size: 1.2rem;
  color: rgb(69, 69, 69);
  font-family: var(--small-number-font);
  position: absolute;
  top: -36px;
  left: 200px;
}

.image-reveal-section {
  display: flex;
  justify-content: space-between;
}

.service h2 {
  list-style: none;
  font-size: 5rem;
  font-family: var(--heading-font);
  color: #454545;
}

.image-section {
  background-color: white;
  width: 700px;
  height: 500px;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

/* =============  Service Section  ==============*/
.work {
  width: 100%;
}

.work-lines {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 6rem 0 6rem 0;
}

.work-lines h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  width: 90%;
  font-family: var(--heading-font);
  color: rgb(69, 69, 69);
}

/* =============  showcase Section  ==============*/

.project-showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: min(100%, 1600px);
  margin: auto;
  overflow: hidden;
}

.project-cover {
  width: 100%;
  aspect-ratio: 1.3 / 1;
}

.project-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.project-cover h3 {
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 2rem;
  margin-top: 1.3rem;
}

.large-project-cover {
  grid-column: 1 / -1;
}

.large-project-cover .project-image {
  aspect-ratio: 2.3/ 1;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.project-image h3 {
  font-family: var(--body-font);
  font-weight: 600;
  font-size: 2rem;
  margin-top: 1.3rem;
}

.view-work-link {
  text-align: center;
  font-family: var(--small-number-font);
  text-decoration: underline;
  font-size: 1rem;
  font-weight: 300;
  padding: 6rem;
  cursor: pointer;
}

/* =============  Brand Moving Section  ==============*/
.brand-moving-animation {
  padding: 7rem 0 7rem 0;
  width: 100%;
}

.brand-title {
  font-size: 2rem;
  font-family: var(--heading-font);
  text-align: center;
  font-weight: lighter;
}

.grey {
  color: rgb(69, 69, 69);
}

.marquee-content {
  overflow: hidden;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  padding: 8rem 0 8rem 0;
}

.logo-container img {
  height: 6rem;
}

/* =============  Scroll Text Section  ==============*/

.mouse-scroll-text {
  overflow: hidden;
}

.display-heading {
  width: 200%;
  padding: 9rem 0 12rem 0;
  word-spacing: -1rem;
}

.display-heading h2 {
  font-size: 10vw;
  font-family: var(--heading-font);
  text-align: center;
  font-weight: 200;
}

/* =============  Manual Slider Section  ==============*/

.marquee {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.marquee-wrap {
  max-width: 1800px;
  margin: 0 auto;
  font-size: 1.9rem;
  font-family: var(--small-number-font);
}

.slide-right-arrow {
  padding: 3rem 0 3rem 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.left-right-arrow {
  display: flex;
  gap: 2rem;
}

.card-number-arrow p {
  display: flex;
  gap: 0.4rem;
}

.marquee-image-container {
  display: flex;
  gap: 2rem;
  max-width: 1800px;
  margin: 0 auto;
  justify-content: start;
}

.marquee-box {
  width: 700px;
  height: 450px;
  flex-shrink: 0;
  background-color: rgb(22, 22, 22);
  border-radius: 0.7rem;
}

.marquee-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.marquee-box-content {
  padding: 2.5rem;
}

.profile-pic-company {
  display: flex;
  justify-content: space-between;
}

.profile-pic {
  width: 120px;
  height: 130px;
}

.profile-pic .work-station img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.work-station {
  height: 6rem;
}

.person-intro {
  margin-top: 2rem;
  font-family: var(--small-number-font);
}

.person-intro h4 {
  font-size: 1.5rem;
  color: rgb(138, 138, 138);
  margin-bottom: 0.2rem;
}

.discription p {
  font-size: 1.4rem;
  margin-top: 2rem;
  text-align: justify;
}

/* =============  Footer  Section  ==============*/

.footer-content {
  max-width: 1800px;
  margin: 0 auto;
}

.footer-main-heading {
  padding: 10rem 2rem 10rem 2rem;
}

.footer-main-heading h2 {
  text-align: center;
  font-family: var(--small-number-font);
  font-size: 4rem;
  font-weight: 400;
  width: fit-content;
  margin: 0 auto;
}

.footer-upper-part {
  display: flex;
  justify-content: space-between;
  padding: 4rem 5rem 4rem 5rem;
  margin: 0 auto;
}

.footer-heading h3 {
  font-size: 2rem;
  font-family: var(--heading-font);
  font-weight: 300;
}

.footer-nav-container {
  display: flex;
  gap: 4rem;
  font-family: var(--small-number-font);
}

.footer-nav-container h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.footer-nav-container li {
  font-size: 1.2rem;
  list-style: none;
  cursor: pointer;
}

.bottom-part {
  margin: 0 auto;
  padding: 5rem 2rem 5rem 2rem;
}

.big-brand-name {
  display: flex;
  justify-content: center;
}

.big-brand-name h2 {
  font-size: 19.3rem;
  font-family: var(--heading-font);
  white-space: nowrap;
}

.bottom-content {
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
  margin: 0 auto;
  font-family: var(--small-number-font);
  font-size: 1.3rem;
  color: #a8a7a7;
}

.copyright-content {
  display: flex;
  justify-content: center;
}

.social-media-content ul li {
  list-style: none;
}

.social-media-content ul {
  display: flex;
  gap: 2rem;
}
